.form-div-signin {
  display: flex;
  align-items: center;
  padding-top: 40px;
  /* padding-bottom: 40px; */
  background-color: #97e7f5;
  height: 76vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-signin input {
  margin-right: 10px;
  font-size: 1.2rem;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
