.form-div-signin {
  display: flex;
  align-items: center;
  padding-top: 40px;
  background-color: #C59F96;
  min-height: 76vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-signin input {
  margin-right: 10px;
  font-size: 1.2rem;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media screen and (min-width: 440px) {

  .form-div-signin {
    min-height: 78.5vh;
  }
}
@media screen and (min-width: 1280px) {

  .form-div-signin {
    min-height: 71vh;
  }
}
@media screen and (min-width: 1440px) {

  .form-div-signin {
    min-height: 74.3vh;
  }
}
@media screen and (min-width: 1920px) {

  .form-div-signin {
    min-height: 78.6vh;
  }
}