.homePage{
  min-height: 79.3vh;
  background-color: #C59F96;
  position: relative;
  z-index: 1;
}
.tasty{
 margin-top: 20px;
 width: 90%;
 height: 45%;
}

.home {
  display: flex;  
  justify-content: center; 
}
.text {
  text-align: center;
}

.logoContainer{
    display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.logo {
  width: 55%;
  height: 240px;
}
@media screen and (min-width: 440px) {
  .homePage{
  min-height: 82.3vh;
  background-color: #C59F96;
}
.tasty{
 margin-top: 20px;
 width: 50%; 
}
.logo {
  width: 40%;
  height: 350px;
}
}
@media screen and (min-width: 900px) {
  .homePage{
  min-height: 82.3vh;
}
.tasty{
 width: 25%;
 height: 400px; 
}
.logo {
  width: 20%;
  height: 350px;
}
}
@media screen and (min-width: 1280px) {
  .homePage{
  min-height: 75.9vh;
}
.tasty{
 width: 20%;
 height: 250px; 
}
.logo {
  width: 15%;
  height: 200px;
}
}
@media screen and (min-width: 1440px) {
  .homePage{
  min-height: 78.6vh;
}
.tasty{
 width: 20%;
 height: 300px; 
}
.logo {
  width: 15%;
  height: 250px;
}
}
@media screen and (min-width: 1920px) {
  .homePage{
  min-height: 82.2vh;
}
.tasty{
 width: 25%;
 height: 400px; 
}
.logo {
  width: 20%;
  height: 350px;
}
}
