.search-form-control { 
  margin-left: 2rem;
  width: 200px;
}
/* .searchbar {
  visibility: hidden;
} */
.navbar {
  background-color: #69433A;
}
.container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  background-color: #69433A;
  padding: 10px;
}
.navbar-nav{
  display: flex; 
  flex-direction: row;
  justify-content: center;  
  margin: auto;
  margin-bottom:10px;
  margin-left: -2rem;
}
.nav-item{
  list-style-type: none;
  font-size: 1.2rem;
}

.nav-item:not(:last-child){
  margin-right: 15px;
}
.nav-link, .navbar-brand{
  text-decoration: none;
  color: #EDDBD8;
}
.form-group{
  display: flex;
}
.active {
  font-weight: 900;
  /* font-size: 20px; */
  color: #CAAF7D;
  text-decoration:underline overline;
  

}
.inactive{
  color: black;
}
@media screen and (min-width: 440px) {
.nav-item:not(:first-child){
  margin-left: 100px;
}
.form-group {
  justify-content: center;
}

}