input {
  height: 30px;
  width: 60%;
  padding: 0 20px 0 25px;
  background: white;
  border: 1px solid #baccbd;
  border-radius: 20px;
  float: right;
}

input:focus {
  outline: none;
  border-color: #66ee83;
}

.results {
  display: block;
  position: absolute;  
  top: 58%;
  left: 57%;
  transform: translate(-50%, -50%);
  z-index:100;
  padding: 0;
  margin: 0;
  width: 60%;
  /* float: right; */
  border-width: 1px;
  border-style: solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  background-color: #69433A;
  opacity: 90%;
}

.results li {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid white;
  cursor: pointer;
  color: #EDDBD8;
}

.results li img {
  width: 20px;
  margin-right: 5px;
}

.results li:hover {
  background: rgba(252, 240, 240, 0.192);
}

@media screen and (min-width: 440px){
  .results {  
  top: 48%;
  left: 53%;   
}
}
@media screen and (min-width: 1280px){
  .results {  
  top: 65%;
  left: 53%; 
}
}
@media screen and (min-width: 1440px){
  .results {  
  top: 58%;
  left: 53%; 
}
}
@media screen and (min-width: 1920px){
  .results {  
  top: 48%;
  left: 53%; 
}
}