.main {
  min-height: 79.3vh;
  margin-top: 10px;
  background-color: #C59F96;
}
.calendar {
  display: flex;
  width: 100%;
  background-image: linear-gradient(#AF7B6E, #C59F96);
}

.scheduleImg{
  height: 50px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.title{
  width: 180px;
  margin-right: 5px;
  text-align: left;
  font-size: 14px;
    margin-top: 5px;
  margin-bottom: 5px;
}

.dateInput{    
  width: 77px;
  font-size: .8rem;  
    margin-top: 5px;
  margin-bottom: 5px;  
}

.delete{
  margin-right: 5px; 
  justify-self: left; 
  margin-left: 5px;
  height: 50px;
    margin-top: 5px;
  margin-bottom: 5px;
}
.inputDiv{
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.setDate{
  width: 110px;
  margin-left: 8px;
}

.recipe-title{
  text-decoration: none;
  color: rgb(44, 44, 2);

}
@media screen and (min-width: 440px) {
.scheduleImg{
  height: 80px;
  margin-right: 15px;
}
.delete{
  margin-right: 15px;
}
.title{
  width: 500px;
  font-size: 20px;
}
.dateInput{
  margin-bottom: 10px;
}
}
@media screen and (min-width: 900px) {
.scheduleImg{
  height: 100px;
  margin-right: 15px;
}
.delete{
  margin-right: 15px;
}
.title{
  width: 1550px;
  font-size: 24px;
}
.dateInput{
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.setDate{
  font-size: 1.2rem;
}
}