.main {
  height: 79.3vh;
  margin-top: 10px;
  background-color: #97e7f5;
}
.calendar {
  display: flex;
  width: 100%;
}

.scheduleImg{
  height: 30px;
  margin-right: 5px;
}
.title{
  width: 200px;
  margin-right: 5px;
  text-align: left;
  font-size: 12px;
}

.dateInput{    
  width: 77px;
  font-size: .5rem;
  margin-right: 5px;  
}

.delete{
  margin-right: 5px; 
  justify-self: left; 
  margin-left: 5px;
}